<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cyberkonsultant" translate="label" sortOrder="10">
            <label>Cyberkonsultant</label>
        </tab>
        <section id="cyberkonsultant" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>cyberkonsultant</tab>
            <resource>Omega_Cyberkonsultant::general_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_host" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Host</label>
                    <comment>Cyberkonsultant API host.</comment>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>Cyberkonsultant API key.</comment>
                </field>
                <field id="remote_command_secret" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Remote Command Secret</label>
                </field>
                <field id="send_feed" translate="button_label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>Send Feed</button_label>
                    <frontend_model>\Omega\Cyberkonsultant\Block\Adminhtml\System\Config\SendFeed</frontend_model>
                </field>
                <field id="migrate_events" translate="button_label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>Migrate data</button_label>
                    <frontend_model>\Omega\Cyberkonsultant\Block\Adminhtml\System\Config\MigrateEvents</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
