.ck-frame--product {
    font-family: Arial, "Helvetica Neue", serif;
    font-weight: 400;
    padding: 0 10px;
}

.ck-frame--product img {
    width: 50%;
    object-fit: contain;
}

.ck-frame--product-name {
    display: inline-block;
    height: 50px;
    font-size: 14px;
    line-height: 14px;
    color: #eee;
    margin: 5px 0;
    width: 80%;
}

.ck-frame--product-name,
.ck-frame--product-name a {
    text-decoration: none;
    color: #666;
}

.ck-frame--price-box {
    padding-bottom: 10px;
}

.ck-frame--price-box .price {
    font-size: 18px;
    font-weight: bold;
    color: #0099ff;
}

.ck-frame--product-button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background: #ffc800;
    padding: 5px 15px;
    display: inline-block;
    color: #fff;
    border-radius: 2px;
}

.ck-frame--product-thumb {
    text-align: center;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ck-frame--product-thumb a {
    display: inline-block;
}

.ck-frame--product-container {
    text-align: center;
}

